body {
    font-family: montserrat;
    background-image: url('/image/pizza_backg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.find_us{
    padding-left: 100px;
    padding-top: 100px;
}
 h2 {
    font-size: 35px;
    padding: 15px;
 }
.find_datas h2{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}