*{
    margin: 0;
    text-decoration: none;
    list-style: none;
}

nav {
    background: #1B1919;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
}

a.head_label,a:hover{
    background: #1b9bff;
    transition: .5s;
}