body {
    font-family: montserrat;
    background-image: url('/image/pizza_backg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 250px;
    height: 250px;
}

a:visited, a:link, a:active, a:hover{
    color: white;
}


